<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div *ngIf="status===0">
    <h1>Lass uns doch mal mit Cypress Testen!</h1>
    <p>Unser erstes Ziel ist einfach! Wir müssen einfach nur auf einen Knopf drücken.</p>
    <p>Also lass uns erst einmal damit anfangen :)</p>
    <button mat-button (click)="clickTesten()" class="button">Testen ist super!</button>
  </div>
    
  <div *ngIf="status === 1">
      <h1>Gut gemacht</h1>
      <p>Jetzt wollen wir einen bestimmten Knopf drücken!</p>
      <p>Drücken sie mit Cypress den Knopf mit den Text "Ich habe Spaß!"</p>
      <div class="buttonBox">
        <button mat-button (click)="clickSpass()"class="button">Ich habe Spaß!</button>
        <button mat-button (click)="clickKeinSpass()"class="button">Ich habe keinen Spaß!</button>
      </div>
    </div>
    
    <div *ngIf="status === 3">
      <h1>Lügen ist nicht erlaubt</h1>
      <p>Schade das war wohl der falsche Knopf...</p>
      <p>Bitte versuch es nochmal...</p>
      <p>Bitte starten dein Test neu...</p>
      <button mat-button (click)="clickNeuerVersuch()"class="button">Nochmal probieren</button>
    </div>

    <div *ngIf="status === 2">
      <h1>Schön, dass du Spaß hast!</h1>
      <p>Ich auch!</p>
      <p>Jetzt wüsste ich gerne deine Lieblingsfrucht</p>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="frucht" placeholder="Frucht">
      </mat-form-field>
      <ng-container *ngIf="isGemuese(); else keinGemuese">
        <p> Das ist Gemüse...</p>
      </ng-container>
      <ng-template #keinGemuese>
        <p></p>
      </ng-template>
      <button mat-button (click)="clickBesteFrucht()"class="button">
        <ng-container *ngIf="isGemuese(); else elseTemplate">
          Das ist die beste !Frucht
        </ng-container>
        <ng-template #elseTemplate>
          Das ist die beste Frucht
        </ng-template>
      </button>     
    </div>

    <div *ngIf="status === 4">
      <ng-container *ngIf="isGemuese(); else elseTemplate">
        <h1>Du hast eine komische Lieblings-"Frucht"</h1>
        <p>Also {{frucht}} ist deine Lieblings-"Frucht"?</p>
        <p>Wie oft isst du denn {{frucht}}?</p>
      </ng-container>
      <ng-template #elseTemplate>
        <h1>Das ist eine leckere Frucht!</h1>
        <p>Also {{frucht}} ist deine Lieblingsfrucht.</p>
        <p>Wie oft isst du denn {{frucht}}?</p>
      </ng-template>

      <mat-select appearance="fill" (selectionChange)="changeSelection($event.value)" placeholder="Zeitrahmen" class="comboBox">
        <mat-option *ngFor="let time of times" [value]="time.num"> {{time.frame}}</mat-option>
      </mat-select>
      <button mat-button (click)="clickKP()" class="button">Weiter</button>
    </div>
    <div *ngIf="status === 5">
      <h1>Schon Fertig!</h1>
      <p>Gut gemacht! Das war schon alles, was wir für unserern Vortrag vorbereitet haben.</p>
    </div>
  </div>